.d-c.addon-dialog{
  width: 600px;
  height: 400px;
}

.addon-bar{
  width: 100%;
  height: 40px;
}
.addon-bar .l{
  float: left;
}
.addon-bar .l .item{
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
  color:#000;
}
.addon-bar .l .item:hover{
  background-color: #eee;
}
body.dark .addon-bar .l .item{
  color: #fff;
}
body.dark .addon-bar .l .item:hover{
  background-color: #555;
}
.addon-bar .l .item.active{
  background: #09f!important;
  color: #fff;
}
.d-c.addon-dialog .content{
  width: 100%;
  height: calc(100% - 40px);
  box-sizing: border-box;
}
.d-c.addon-dialog .content .p{
  display: none;
  width: 100%;
  height: 100%;
}
.d-c.addon-dialog .p ul li{
  height: 60px;
  width: 100%;
  border-bottom: #eee solid 1px;
  overflow: hidden;
  transition: all .2s;
}
body.dark .d-c.addon-dialog .p ul li{
  border-bottom: #555 solid 1px;
}
.d-c.addon-dialog .p ul li:hover{
  background-color: #f4f4f4;
}
body.dark .d-c.addon-dialog .p ul li:hover{
  background-color: #555;
}
body.dark .d-c.addon-dialog .p ul li.active{
  background-color: #333;
}
.d-c.addon-dialog .p ul li.active{
  height: 150px;
  background-color: #fff;
}
.d-c.addon-dialog .p ul li .n{
  overflow: hidden;
  height: 60px;
}
.d-c.addon-dialog .p ul li .d{
  overflow: hidden;
  height: 600px;
}
.d-c.addon-dialog .p ul li .d .website{
  color: #888;
  font-size: 14px;
  text-indent: 2em;
  padding-bottom: 5px;
}
.d-c.addon-dialog .p ul li .d .desc{
  color: #888;
  font-size: 14px;
  text-indent: 2em;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
} 
.d-c.addon-dialog .controls{
  float: right;
}
.d-c.addon-dialog .controls .btn{
  color: #fff;
  display: none;
  float: left;
  margin: 0 5px;
}

.d-c.addon-dialog .controls .ch_update{
  background-color: #0cf;
}
.d-c.addon-dialog .controls .update,
.d-c.addon-dialog .controls .install
{
  background-color: #09f;
}
.d-c.addon-dialog .controls .disable{
  background-color: #333;
}
.d-c.addon-dialog .controls .enable,
.d-c.addon-dialog .controls .installed
{
  background-color: #0f0;
}
.d-c.addon-dialog .controls .uninstall{
  background-color: #f00;
}
.d-c.addon-dialog .controls .ch_update:hover{
  background-color: #0ef;
}
.d-c.addon-dialog .controls .update:hover,
.d-c.addon-dialog .controls .install:hover
{
  background-color: #0af;
}
.d-c.addon-dialog .controls .disable:hover{
  background-color: #555;
}
.d-c.addon-dialog .controls .enable:hover{
  background-color: #0e0;
}
.d-c.addon-dialog .controls .uninstall:hover{
  background-color: #c00;
}
.d-c.addon-dialog .p ul{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.d-c.addon-dialog .p ul li img{
  width: 50px;
  height: 50px;
  margin: 5px;
  float: left;
}
.d-c.addon-dialog .p ul li .ds{
  float: left;
  width: calc(100% - 80px);
  height: 40px;
  padding: 10px;
}
.d-c.addon-dialog .p ul li .ds .name{
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.d-c.addon-dialog .p ul li .ds .name span{
  float: left;
}
.d-c.addon-dialog .p ul li .ds .message{
  line-height: 20px;
  color: #888;
  font-size: 12px;
}
.d-c.addon-dialog .p ul li .ds .message span{
  padding-right: 10px;
}

.addon-bar .r{
  float: right;
}
.addon-bar .r>*{
  float: left;
  width: 40px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  
}
.addon-bar .r>* span{
  line-height: 40px;
  text-align: center;
  width: 40px;
}
.addon_install_ui .ma{
  width:300px;
}
.addon_install_ui .ma .sth{
  width: 100%;
  height: 120px;
}
.addon_install_ui .ma .sth img{
  width: 50px;
  height: 50px;
  margin:5px auto;
  display:block;
}
.addon_install_ui .ma .sth p{
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
}
.addon_install_ui .ma .sth p.version{
  color: #888;
}
.addon_install_ui .ma .progress{
  width: 100%;
  height:5px;
}
.addon_install_ui .ma .progress .r{
  width: 0;
  height: 5px;
  background: #09f;
  transition: all .3s;
}
.addon_install_ui .ma .progress.error .r{
  background: #f00;
}
.addon_install_ui .ma .msg{
  width: 100%;
  height: 120px;
}
.addon_install_ui .ma .btns{
  float: right;
}

@media(max-width: 600px){
  .d-c.addon-dialog .content{
    padding: 0;
    width:100%;
  }
}
.disabled_state,
.official_state{
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  display:block;
  float: left;
  font-size: .5rem;
  padding: 0 1em;
  transform: scale(.8);
}
.official_state{
  background-color: #0e0;
}

.d-c.addon-dialog .addon-search-box{
  width: 100%;
  height: 36px;
}
.d-c.addon-dialog .addon-search-box input{
  width: calc(100% - 40px);
  height: 34px;
  float: left;
  font-size: 16px;
}
.d-c.addon-dialog .addon-search-box button{
  width: 34px;
  height: 34px;
  margin: 1px;
  float: left;
  background-color: transparent;
  border: 0;
  outline: 0;
}
.d-c.addon-dialog .p.ma ul{
  height: calc(100% - 36px);
}