.bgf{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 0;
}
.bgf .full{
  width: 100%;
  height: 100%;
  z-index:1;
  position: absolute;
  top:0;
  left:0;
}
.bgf .full .cover{
  width: 100%;
  height: 100%;
  z-index:2;
  position: absolute;
  top:0;
  left:0;
  /* background-color: rgba(255,255,255,.5); */
}
.bgf .full img,
.bgf .full video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.d-c.bg_d{
  width: 600px;
  height: 400px;
  padding: 0;
  overflow: hidden;
}

.d-c.bg_d .tab_con{
  width: calc(100% - 20px);
  height:24px;
  margin:  0 10px;
}
.d-c.bg_d .tab_con .tabitem{
  float: left;
  height: 16px;
  padding: 4px;
  margin: 4px;
  font-size: 14px;
  user-select: none;
  border-radius: 3px;
  line-height: 16px;
}
.d-c.bg_d .tab_con .tabitem:hover{
  background-color: #eee;
}
body.dark .d-c.bg_d .tab_con .tabitem:hover{
  background-color: #666;
}
.d-c.bg_d .tab_con .tabitem.active{
  color: #fff;
  background-color: #09f!important;
}
.d-c.bg_d .scroll_con{
  margin: 0 10px;
  overflow: auto;
  width: calc(100% - 20px);
  height: calc(100% - 64px);
}
.d-c.bg_d .scroll_con .scrollitem{
  display: none;
  padding-bottom: 20px;
}
.d-c.bg_d .scroll_con .unit-item{
  padding: 5px 10px;
}
.d-c.bg_d .scroll_con .unit-item .unit-title{
  font-size: 14px;
  color: #00f;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 0;
}
body.dark .d-c.bg_d .scroll_con .unit-item .unit-title{
  color: #0af;
}
.d-c.bg_d .scroll_con .unit-item .unit-content{
  width: 100%;
  overflow: hidden;
}
.d-c.bg_d .scroll_con .unit-item .bgitem{
  float: left;
}
.d-c.bg_d .scroll_con .bgitem.full{
  width: calc(100% - 10px);
  height: 100px;
  margin: 5px;
  position: relative;
}
.d-c.bg_d .scroll_con .bgitem .left{
  border-radius: 10px;
  overflow: hidden;
  float: left;
  background-color: #ccc;
  position: relative;
}

.d-c.bg_d .scroll_con .bgitem .left::after{
  content:'';
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color: #000;
  opacity: 0;
  transition: opacity .3s;
  color: #fff;
}
.d-c.bg_d .scroll_con .bgitem.selected .left::after{
  content:'\e876';
  font-family: 'Material Symbols Outlined';
  opacity: .3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.d-c.bg_d .scroll_con .bgitem .left:hover::after{
  opacity: .3;
}
.d-c.bg_d .scroll_con .bgitem .left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.d-c.bg_d .scroll_con .bgitem .left .leftcolorbox,
.d-c.bg_d .scroll_con .bgitem .left .rightcolorbox{
  float: left;
  width: 50%;
  height: 100%;
}
.d-c.bg_d .scroll_con .bgitem.full .left{
  width: 33%;
  height: 100px;
  margin-right: 10px;
}
.d-c.bg_d .scroll_con .bgitem.half{
  width: calc(50% - 10px);
  height: 100px;
  margin: 5px;
}
.d-c.bg_d .scroll_con .bgitem.half .left{
  width: 50%;
  height: 100px;
  margin-right: 10px;
}
.d-c.bg_d .scroll_con .bgitem.def{
  width: calc(33% - 10px);
  height: 100px;
  margin: 5px;
}
.d-c.bg_d .scroll_con .bgitem.def .left{
  width: 100%;
  height: 100px;
}
.d-c.bg_d .scroll_con .bgitem.full .right{
  width: calc(66% - 10px);
}
.d-c.bg_d .scroll_con .bgitem.full .editbtn{
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.d-c.bg_d .scroll_con .bgitem.full .left .hasBg{
  width: 100%;
  height: 100%;
}
.d-c.bg_d .scroll_con .bgitem.full .left .noBg{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #09f;
  color: #fff;
}
.d-c.bg_d .scroll_con .bgitem.full .left .noBg span{
  font-size: 36px;
}
.d-c.bg_d .scroll_con .bgitem.half .right{
  width: calc(50% - 10px);
}
.d-c.bg_d .scroll_con .bgitem .right{
  float: left;
}
.d-c.bg_d .scroll_con .bgitem .right .bg-title{
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}
.d-c.bg_d .scroll_con .bgitem .right .bg-message{
  font-size: 12px;
  color: #666;
}
.d-c.bg_d .textarea{
  width: calc(100% - 5px);
  height: 80px;
}
.d-c.bg_d .gjzdysetbtn{
  min-width: 60px;
  line-height: 30px;
  border:0;
  outline: 0;
  cursor: pointer;
  box-shadow: #aaa 0 1px 2px;
  background-color: #eee;
  color: #333;
  border-radius: 2px;
  margin: 5px;
}
.d-c.bg_d .gjzdysetbtn:hover{
  background-color: #ddd;
}
.d-c.bg_d .gjzdysetbtn:active{
  background-color: #f5f5f5;
}
.d-c.bg_d .gjzdysetbtn.seted{
  background-color: #aaa!important;
  color: #888!important;
}
@media (max-width:600px){
  .dialog.mobile-show-full .d-c.bg_d{
    width: 100%;
    height: 100%;
  }
  .d-c.bg_d .bgfl .c>div{
    width: calc(50% - 10px);
  }
  .d-c.bg_d .scroll_con .bgitem.full .right .bg-title{
    padding:0;
  }
  .d-c.bg_d .scroll_con .bgitem.half{
    width: calc(100% - 10px);
  }
  .d-c.bg_d .scroll_con .bgitem.half .left{
    width: 33%;
  }
  .d-c.bg_d .scroll_con .bgitem.half .right{
    width: calc(66% - 10px);
  }
}
body.t-dark .bgf .full .cover{
  background-color: #333;
  opacity: .3;
}