*{
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
body{
  overflow: hidden;
}

body.dark{
  background-color: #333;
  color: #fff;
  color-scheme: dark;
}
body.dark main .logo,
body.t-dark main .logo
{
  filter: invert(1);
}
main{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
}
main .topper,
main .bottomer
{
  width: calc(100% - 20px);
  height: 40px;
  padding: 0 10px;
}
main .topper .left,
main .bottomer .left,
main .topper .left .item,
main .bottomer .left .item
{
  float: left;
}
main .topper .right,
main .bottomer .right,
main .topper .right .item,
main .bottomer .right .item{
  float: right;
}
main .center{
  width: 100%;
  height:calc(100% - 80px)
}
main .logo{
  width: 300px;
  margin: 0px auto;
  height: 90px;
  padding-top: 30px;
}
li{
  list-style: none;
}

.cover{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
}

@media (max-width:600px){
  main .logo{
    width: 200px;
    height: 60px;
  }
}
@media (max-height:400px){
  main .logo{
    padding-top: 0px;
  }
}
::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #aaa;
}
body.dark ::-webkit-scrollbar-thumb{
  background-color: #888;
}
body.dark ::-webkit-scrollbar-thumb:hover{
  background-color: #666;
}

.material-symbols-outlined.fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}