*{
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  word-break: break-all;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body{
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
textarea,input{
  font-family: Consolas,Arial, Helvetica, sans-serif;
}
body.dark{
  background-color: #333;
  color: #fff;
  color-scheme: dark;
}
main .logo svg{
  stroke: #000;
}
body.dark main .logo .timelogo,
body.t-dark main .logo .timelogo
{
  color: #fff;
  text-shadow: #000 0 1px 5px;
}
body.dark main .logo svg,
body.t-dark main .logo svg
{
  stroke: #fff;
}
main .logo .timelogo{
  text-align: center;
  line-height: 90px;
  font-size: 46px;
  color: #000;
  text-shadow: #fff 0 1px 5px;
}
main .logo .timelogo span.i{
  animation: xhshow 1.5s ease-in-out infinite;
}
@keyframes xhshow {
  0%{
    opacity: 1;
  }50%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}
main{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
  overflow: hidden;
  opacity: 0;
  transition: opacity .2s;
}
main .topper,
main .bottomer
{
  width: calc(100% - 20px);
  height: 40px;
  padding: 0 10px;
}
main .topper .left,
main .bottomer .left,
main .topper .left .item,
main .bottomer .left .item
{
  float: left;
}
main .topper .right,
main .bottomer .right,
main .topper .right .item,
main .bottomer .right .item{
  float: right;
}
main .topper .item.show,
main .bottomer .item.show{
  display: block;
}
main .topper .item.hide,
main .bottomer .item.hide{
  display: none;
}
main .center{
  width: 100%;
  height:calc(100% - 80px);
  position: relative;
}
main .logo{
  width: 300px;
  margin: 0px auto;
  height: 90px;
  padding-top: 60px;
}
li{
  list-style: none;
}

.cover{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
}

@media (max-width:600px){
  main .logo{
    width: 200px;
    height: 60px;
    padding-top: 30px;
  }
  main .logo .timelogo{
    line-height: 60px;
  }
}
@media (max-height:400px){
  main .logo{
    padding-top: 0px;
  }
}
::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover,
body.dialogblur ::-webkit-scrollbar-thumb{
  background-color: #aaa;
}
body.dark ::-webkit-scrollbar-thumb{
  background-color: #888;
}
body.dark ::-webkit-scrollbar-thumb:hover,
body.dialogblur.dark ::-webkit-scrollbar-thumb:hover
{
  background-color: #666;
}

.material-symbols-outlined.fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.loading-f{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:2;
  background-color:#fff;
  transition:opacity .1s;
}
.loading-f.h{
  opacity:0;
  pointer-events:none;
}
.loading-p{
  width:100px;
  height:2px;
  position: absolute;
  top:calc(50% - 1px);
  left:calc(50% - 50px);
  overflow:hidden;
}
.loading-p .g{
  width:100px;
  height:2px;
  background-color:#000;
  animation:t-l 1s linear infinite;
}
@keyframes t-l{
  0%{
    margin-left:-100px;
  }100%{
    margin-left:200px;
  }
}