@media (min-width:1000px){
    .d-c.setting_dia,.d-c.bg_d{
      width: 800px;
    }
  }
  @media (min-width:1400px){
    .d-c.setting_dia,.d-c.bg_d{
      width: 900px;
    }
  }
  @media (min-height:800px){
    .d-c.setting_dia,.d-c.bg_d{
      height: 600px;
    }
  }
  @media (min-height:1000px){
    .d-c.setting_dia{
      height: 800px;
    }
  }