.cards{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index:8;
  pointer-events: none;
}

.cards .card{
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  box-shadow: #aaa 0 1px 5px;
  position: absolute;
  background-color: #fff;
  pointer-events: all;
  opacity: 0;
  display: none;
}
body.dialogblur .cards .card{
  background-color: rgba(255,255,255,.7);
  backdrop-filter: blur(10px);
}
body.dark .cards .card{
  background-color: #333;
}
body.dialogblur.dark .cards .card{
  background-color: rgba(51,51,51,.7);
}