.d-c h1{
  font-size: 24px;
  font-weight: 300;
  padding: 10px;
}
.d-c .content{
  padding: 10px;
  color: inherit;
}
.d-c .content p{
  line-height: 30px;
}
.d-c .content p.desc{
  font-size: 12px;
  color: var(--desc-text-color);
  line-height: 16px;
}
.d-c .content input[type=text],
.d-c .content input[type=url],
.d-c .content input[type=number],
.d-c .content input[type=color]
{
  height: 24px;
  width: 250px;
  border:0;
  outline: 0;
  border-bottom: var(--input-bottom) solid 1px;
  background-color: transparent;
  color: inherit;
  padding: 2px;
  transition: all .2s;
}
@media(max-width:650px) {
    .d-c .content input[type=text],
        .d-c .content input[type=url],
        .d-c .content input[type=number],
        .d-c .content input[type=color]
  {
    width: 100%;
  }
}
.d-c .content input[type=text]:focus,
.d-c .content input[type=url]:focus,
.d-c .content input[type=number]:focus,
.d-c .content input[type=color]:focus{
  border-color: var(--theme-color);
}
.d-c .content .tip{
  font-size: 12px;
  color: var(--desc-text-color);
}
.d-c .footer{
  float: right;
  padding-top: 10px;
}
.d-c .btn{
  min-width: 60px;
  line-height: 30px;
  border:0;
  outline: 0;
  cursor: pointer;
  box-shadow: var(--shadow-color) 0 1px 2px;
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border-radius: 2px;
  /* @note 适配非button @edit 2024/1/30 15:18*/
  display: inline-block;
  text-align: center;
  font-size: 12px;
  margin:0 4px;
}
.d-c img,
.d-c video
{
  max-width: 100%;
}
.d-c .btn:hover{
  background-color: var(--btn-hover);
}
.d-c .btn:active{
  background-color: var(--btn-active);
}
.d-c .btn.ok{
  background-color: var(--theme-color);
  color:var(--theme-bg-text-color);
}
.d-c .btn.ok:hover{
  background-color: var(--theme-color-deep);
}
.d-c .btn.ok:active{
  background-color: var(--theme-color-mild);
}
.d-c .btn.delete{
  background-color: #f00;
  color:#fff;
}
.d-c .btn.delete:hover{
  background-color: #d00;
}
.d-c .btn.delete:active{
  background-color: #f30;
}
.d-c .actionbar{
  width: 100%;
  height: 40px;
  border-bottom: var(--action-bar-border) solid 1px;
  position: relative;
}
body.dark .d-c .actionbar{
  border-color: var(--action-bar-border-dark);
}
.d-c .actionbar h1{
  text-align: center;
  line-height: 40px;
  padding: 0;
  font-size: 18px;
}
.d-c .actionbar .closeBtn{
  position: absolute;
  top:0;
  right:0;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.d-c .actionbar .closeBtn span{
  font-size: 20px;
  line-height: 40px;
}
.d-c .actionbar .closeBtn:hover{
  background-color: var(--el-hover-mild);
}
body.dark .d-c .actionbar .closeBtn:hover{
  background-color: var(--el-hover-color-dark);
}
.dialog form a{
  color: var(--theme-color);
  text-decoration: none;
  display: block;
}
.def_dialog{
  min-width: 250px;
  max-width: 700px;
}

/* 适配屏幕大小的dialog */
.d-c.auto-size,
.d-c.def-size
{
  width: 600px;
  height: 500px;
  padding: 0;
  overflow: hidden;
}

@media (max-width:600px){
  .dialog.mobile-show-full .d-c.auto-size,
  .dialog.mobile-show-full .d-c.def-size
  {
    width: 100%;
    height: 100%;
  }
}

@media (min-width:1000px){
  .d-c.auto-size{
    width: 800px;
  }
}
@media (min-width:1400px){
  .d-c.auto-size{
    width: 900px;
  }
}
@media (min-height:800px){
  .d-c.auto-size{
    height: 600px;
  }
}
@media (min-height:1000px){
  .d-c.auto-size{
    height: 800px;
  }
}