.d-c h1{
  font-size: 24px;
  font-weight: 300;
  padding: 10px;
}
.d-c .content{
  padding: 10px;
  color: inherit;
}
.d-c .content p{
  line-height: 30px;
}
.d-c .content input[type=text],
.d-c .content input[type=url],
.d-c .content input[type=number],
.d-c .content input[type=color]
{
  height: 24px;
  width: 250px;
  border:0;
  outline: 0;
  border-bottom: #e6e6e6 solid 1px;
  background-color: transparent;
  color: inherit;
}
@media(max-width:650px) {
    .d-c .content input[type=text],
        .d-c .content input[type=url],
        .d-c .content input[type=number],
        .d-c .content input[type=color]
  {
    width: 100%;
  }
}
.d-c .content input[type=text]:focus,
.d-c .content input[type=url]:focus,
.d-c .content input[type=number]:focus,
.d-c .content input[type=color]:focus{
  border-color: #09f;
}
.d-c .content .tip{
  font-size: 12px;
  color: #888;
}
.d-c .footer{
  float: right;
}
.d-c .btn{
  min-width: 60px;
  line-height: 30px;
  border:0;
  outline: 0;
  cursor: pointer;
  box-shadow: #aaa 0 1px 2px;
  background-color: #eee;
  color: #333;
  border-radius: 2px;
  /* @note 适配非button @edit 2024/1/30 15:18*/
  display: inline-block;
  text-align: center;
  font-size: 12px;
  margin:0 4px;
}
.d-c img,
.d-c video
{
  max-width: 100%;
}
.d-c .btn:hover{
  background-color: #ddd;
}
.d-c .btn:active{
  background-color: #f5f5f5;
}
.d-c .btn.ok{
  background-color: #09f;
  color:#fff;
}
.d-c .btn.ok:hover{
  background-color: #07f;
}
.d-c .btn.ok:active{
  background-color: #0af;
}
.d-c .btn.delete{
  background-color: #f00;
  color:#fff;
}
.d-c .btn.delete:hover{
  background-color: #d00;
}
.d-c .btn.delete:active{
  background-color: #f30;
}
.d-c .actionbar{
  width: 100%;
  height: 40px;
  border-bottom: #eee solid 1px;
  position: relative;
}
body.dark .d-c .actionbar{
  border-color: #666;
}
.d-c .actionbar h1{
  text-align: center;
  line-height: 40px;
  padding: 0;
  font-size: 18px;
}
.d-c .actionbar .closeBtn{
  position: absolute;
  top:0;
  right:0;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.d-c .actionbar .closeBtn span{
  font-size: 20px;
  line-height: 40px;
}
.d-c .actionbar .closeBtn:hover{
  background-color: #f2f2f2;
}
body.dark .d-c .actionbar .closeBtn:hover{
  background-color: #555;
}
.dialog form a{
  color: #09f;
  text-decoration: none;
  display: block;
}
.def_dialog{
  min-width: 250px;
  max-width: 700px;
}