.guide-card .guide-text{
    font-size: 14px;
    padding: 6px;
}
.guide-card .guide-text .material-symbols-outlined{
    font-size: 14px;
}
.guide-card .btn{
    float: right;
    font-size: 12px;
    background-color: var(--theme-color);
    color: var(--theme-bg-text-color);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}