.topper .item,
.bottomer .item{
  width: 30px;
  height: 30px;
  text-align: center;
  user-select: none;
  margin: 5px;
  border-radius: 30px;
}
.topper .item:hover,
.bottomer .item:hover{
  background-color: rgb(238, 238, 238,.5);
}
body.dark .topper .item:hover,
body.dark .bottomer .item:hover,
body.t-dark .topper .item:hover,
body.t-dark .bottomer .item:hover{
  background-color: rgba(102, 102, 102, 0.4);
}
body.t-dark .topper .item,
body.t-dark .bottomer .item{
  color: #fff;
}

.topper .item .material-symbols-outlined,
  .bottomer .item .material-symbols-outlined{
  font-size: 20px;
  line-height: 30px;
}
.round-anim{
  animation: icon_round 1s linear;
}
@keyframes icon_round {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}