.about-dialog {
  max-width: 600px;
}

.about-dialog .close,
.lic-dialog .close,
.thank-dialog .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.about-dialog .close span,
.lic-dialog .close span,
.thank-dialog .close span
 {
  font-size: 20px;
  line-height: 40px;
}

.about-dialog .ab-logo {
  width: 300px;
  margin: 50px auto;
  margin-bottom: 20px;
}

.about-dialog .t {
  font-size: 13px;
  line-height: 24px;
  margin: 10px;
}

.d-c.update_dia,
.d-c.lic-dialog,
.d-c.thank-dialog {
  width: 600px;
  height: 400px;
  padding: 0;
  overflow: hidden;
}
.d-c.update_dia .version_list {
  width: calc(100% - 40px);
  height: calc(100% - 60px);
  overflow-y: auto;
  padding: 10px 20px;
}
.d-c.lic-dialog .lic-con,
.d-c.thank-dialog .thank-con{
  width: calc(100% - 40px);
  height: calc(100% - 20px);
  overflow-y: auto;
  padding: 10px 20px;
}
.d-c.update_dia .version_list .version_item_title {
  position: relative;
}
.d-c.update_dia .version_list{
  padding-left: 30px;
  padding-right: 10px;
}
.d-c.update_dia .version_list>div{
  position: relative;
}
.d-c.update_dia .version_list>div::before{
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10px;
  background-color: #ccc;
}

.d-c.update_dia .version_list .version_item_title::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #0072ff;
  position: absolute;
  top: 3px;
  border-radius: 10px;
  left: -20px;
}
@media (max-width:600px){
  .dialog.mobile-show-full .d-c.update_dia,
  .dialog.mobile-show-full .d-c.lic-dialog,
  .dialog.mobile-show-full .d-c.thank-dialog
  {
    width: 100%;
    height: 100%;
  }
}
.lic-con h1,
.thank-con h1
{
  font-size:30px!important;
}
.lic-con h2,
.thank-con h2{
  font-size:24px;
  font-weight: 300;
  padding:5px 10px;
}
.lic-con p{
  padding-left: 10px;
  line-height: 24px;
}
.thank-con ul{
  margin: 15px 0;
  margin-left:15px;
}
.thank-con ul li a{
  color:#09f;
  text-decoration: none;
}