.links{
  max-width: 800px;
  margin: 0 auto;
  height: calc(100% - 202px);
  width: 100%;
  overflow: auto;
}
.links li{
  float: left;
  width: 75px;
  height: 100px;
  position: relative;
}
.links li a{
  text-decoration: none;
  color: inherit;
  display: block;
}
.links li a img{
  width: 35px;
  height: 35px;
  padding:10px 10px;
  margin: 5px 10px;
  border-radius: 10px;
}
.links li a p{
  font-size: 12px;
  text-align: center;
}
.links li:hover a img{
  background-color: rgba(220,220,220,.5);
}
.links li .editlinkbtn{
  position: absolute;
  top:10px;
  right:10px;
  font-size: 14px;
  user-select: none;
  display: none;
  cursor: pointer;
}
.links li:hover .editlinkbtn{
  display:block;
}
.links li.link-add a{
  width: 43px;
  height: 43px;
  margin: 16px;
  border-radius: 50%;
  background-color: #eee;
  line-height: 43px;
  text-align: center;
  color:#555;
}
.links li.link-add a:hover{
  background-color: #e1e1e1;
}

@media(max-width:650px){
  .links li .editlinkbtn{
    display: block;
    font-size: 12px;
    transform: scale(.6);
  }
  .links li{
    width: 55px;
    height: 75px;
  }
  .links li a img{
    width: 25px;
    height: 25px;
    padding: 5px;
    margin: 5px 10px;
  }
  .links li.link-add a{
    margin: 6px;
  }
}
@media (max-height:400px){
  .links{
    height: calc(100% - 172px);
  }
}

body.t-dark .links li a{
  color: #eee;
}
body.t-dark .links li.link-add a{
  color: #555;
}
body.dark .links li.link-add a{
  background-color: #555;
  color:#eee;
}
body.dark .links li.link-add a:hover{
  background-color: #333;
}
