body.lite .links{
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  height: calc(100% - 80px);
  transform: translateY(-110px);
}
body.lite main .logo{
  cursor: pointer;
}
body.lite .says{
  transform: translateX(-50%) translateY(-50px) scale(1.1);
  transition: all .3s;
}
body.lite.showall .says{
  transform: translateX(-50%);
}
.liteback{
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content:center;
  align-items: center;
}
body.dark .liteback,body.t-dark .liteback{
  color: #fff;
}
body.lite.showall .liteback{
  opacity: 1;
  pointer-events: all;
}
body.lite.showall main{
  backdrop-filter: blur(20px);
}
body.lite.showall main.noblur{
  backdrop-filter: none;
}
body.lite main .center .logo{
  padding-top: calc(25vh - 60px);
  opacity: 1;
  pointer-events: all;
}
body.lite.showall main .center .logo{
  padding-top: 60px;
}
body.lite.showall .fcard-frame{
  opacity: 0;
  pointer-events: none;
}
body.lite .searchbox{
  top:calc(25vh + 80px);
  opacity: 1;
  pointer-events: all;
  transition: all .3s;
}
body.lite .searchpadding{
  transition: height .3s;
}
body.lite .topper .item,
body.lite .bottomer .item{
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}
body.lite.hiden .topper .item,
body.lite.hiden .bottomer .item{
  display: none;
}
body.lite .topper .item.important.show,
body.lite .bottomer .item.important.show{
  opacity: 1;
  pointer-events: all;
  display: block;
}
body.lite.showall .center .logo{
  opacity: 0;
  pointer-events: none;
}
body.lite.showall .links{
  opacity: 1;
  pointer-events: all;
}
body.lite.showall .topper .item,
body.lite.showall .bottomer .item{
  opacity: 1;
  pointer-events: all;
}
body.lite.showall .searchbox{
  opacity: 0;
  pointer-events: none;
}
body.lite.showall .searchpadding{
  height: 30px;
}
body.lite.showall .searchtypeselector{
  height: 0;
  border: 0;
}
@media(max-width:600px){
  body.lite .searchbox{
    top:140px;
  }
  body.lite .searchbox.active{
    top:15px;
  }
  body.lite.showall .searchpadding{
    height: 10px;
  }
  body.lite main .center .logo{
    padding-top:30px;
  }
  body.lite .links{
    transform: translateY(-50px);
  }
  body.lite .says{
    transform: translateX(-50%);
  }
}