.contextMenu{
  position: absolute;
  z-index: 9999;
  background-color: var(--light-bg);
  border-radius: 5px;
  box-shadow: var(--shadow-mild) 0 1px 5px;
  display: none;
  overflow: hidden;
  user-select: none;
}
body.dialogblur .contextMenu{
  background-color: var(--light-bg-opa);
  backdrop-filter: blur(10px);
}
body.dark .contextMenu{
  background-color: var(--dark-bg);
}
body.dialogblur.dark .contextMenu{
  background-color: var(--dark-bg-opa);
}
.contextMenu.show{
  display: block;
}
.contextMenu .item{
  min-width: 80px;
  width: calc(100% - 10px);
  height: 24px;
  margin: 5px;
  border-radius: 4px;
}
.contextMenu .hr{
  width: 80%;
  height: 1px;
  margin: 0 10%;
  background-color: var(--hr-color);
}
body.dark .contextMenu .hr{
  background-color: var(--hr-color-dark);
}
.contextMenu .item>*{
  float: left;
  font-size: 12px;
  line-height: 24px;
}
.contextMenu .item .title{
  padding-right: 5px;
}
.contextMenu .item>.icon{
  width: 24px;
  height: 24px;
  text-align: center;
}
.contextMenu .item>.icon .material-symbols-outlined{
  font-size: 14px;
  line-height: 24px;
}
.contextMenu .item:hover{
  background-color: var(--el-hover-color);
}
body.dark .contextMenu  .item:hover{
  background-color: var(--el-hover-color-dark);
}