.notice-sc{
  width: 300px;
  height: calc(100% - 40px);
  position: absolute;
  right:0;
  bottom:40px;
  z-index: 100;
  pointer-events: none;
}
.notice-sc::-webkit-scrollbar{
  display: none;
}
.notice-con{
  position: absolute;
  right:0;
  bottom:0;
  pointer-events: none;
}
.notice-item{
  pointer-events: all;
  width: 270px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: #aaa 0 1px 5px;
  display: none;
  background-color: #fff;
  position: relative;
  padding-bottom: 40px;
}
body.dark .notice-item{
  background-color: #333;
}
.notice-item .notice-actionbar{
  width: 100%;
  height: 24px;
}
.notice-item .notice-title{
  line-height: 20px;
  width: calc(100% - 24px);
  float: left;
  padding-bottom: 4px;
}
.notice-item .notice-content{
  padding: 5px;
  font-size: 14px;
}
.notice-item .notice-close-btn{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  position: absolute;
  top:0;
  right:0;
}
.notice-item .notice-close-btn:hover{
  background-color: #f3f3f3;
}
body.dark .notice-item .notice-close-btn:hover{
  background-color: #555;
}
.notice-item .notice-close-btn span{
  font-size: 16px;
  text-align: center;
  display: block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
}
.notice-item .notice-btns{
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}
.notice-item .notice-btns .btn{
  min-width: 60px;
  line-height: 30px;
  border:0;
  outline: 0;
  cursor: pointer;
  box-shadow: #aaa 0 1px 2px;
  background-color: #eee;
  color: #333;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
  float: right;
  margin: 5px;
  user-select: none;
}
.notice-item .notice-btns .btn:hover{
  background-color: #ddd;
}
.notice-item .notice-btns .btn:active{
  background-color: #f5f5f5;
}
.notice-item .notice-btns .btn.ok{
  background-color: #09f;
  color:#fff;
}
.notice-item .notice-btns .btn.ok:hover{
  background-color: #07f;
}
.notice-item .notice-btns .btn.ok:active{
  background-color: #0af;
}
.notice-item .notice-btns .btn.delete{
  background-color: #f00;
  color:#fff;
}
.notice-item .notice-btns .btn.delete:hover{
  background-color: #d00;
}
.notice-item .notice-btns .btn.delete:active{
  background-color: #f30;
}
@keyframes noticein {
  0%{
    transform: translateX(300px);
  }100%{
    transform: none;
  }
}
@keyframes noticeout {
  0%{
    transform: none;
  }100%{
    transform: translateX(300px);
  }
}
.notice-progress{
  width: 100%;
  height: 3px;
  padding: 5px 0;
}
.notice-progress .p{
  width: 100%;
  height: 3px;
  background-color: #eee;
  border-radius: 3px;
  overflow: hidden;
}
.notice-progress .p div{
  height: 3px;
  background-color: #09f;
  transition: width .3s;
  width: 0%;
}
.no-notice-tip{
  display: none;
}
.notice-icon{
  position: relative;
}
.notice-icon::before{
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top:5px;
  right:5px;
}
.focus-notice{
  display: none;
}
@media(max-width:600px){
  .notice-sc{
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
    overflow: scroll;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,.2);
  }
  .notice-sc.show{
    pointer-events: all;
    opacity: 1;
  }
  .notice-sc.show .notice-item{
    pointer-events: all;
  }
  .notice-item{
    pointer-events: none;
  }
  .notice-con{
    position: relative;
    margin: 0 auto;
    pointer-events: none;
    width: 300px;
    padding-bottom: 200px;
  }
  .notice-sc.show .notice-con{
    pointer-events: all;
  }
  .no-notice-tip{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 30px 0;
    position: absolute;
    top:0;
    left: 0;
  }
  .no-notice-tip.show{
    display: block;
  }
  .focus-notice{
    display: block;
    position: absolute;
    top:0;
    left:0;
    pointer-events: none;
    width: 100%;
  }
  .focus-notice .notice-item{
    animation: _focus_anim 3s!important;
    margin: 10px auto;
    pointer-events: all;
  }
}
@keyframes _focus_anim {
  0%{
    transform: translateY(-100%);
  }10%,90%{
    transform: none;
  }100%{
    transform: translateY(-100%);
  }
}