.d-c.search_editor{
  width: 600px;
  height: 400px;
  padding: 0;
  overflow: hidden;
}
.search_editor .neizhilist .item{
  width: calc(25% - 20px);
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f4f4f4;
  float: left;
  cursor: pointer;
  user-select: none;
  transition: all .3s;
}
.search_editor .footer{
  margin: 7px 5px;
}
@media (max-width:600px){
  .dialog.mobile-show-full .d-c.search_editor{
    width: 100%;
    height: 100%;
  }
  .search_editor .neizhilist .item{
    width: calc(50% - 10px);
    margin: 5px;
  }
}

.search_editor .list{
  overflow-y: auto;
  height: calc(100% - 115px);
  padding: 10px;
  border-bottom: #eee solid 1px;
}
.search_editor .list>*{
  width: 100%;
}
.search_editor .list h2{
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  padding-left: 20px;
  width: auto;
}
.search_editor .neizhilist{
  overflow: hidden;
}

.search_editor .neizhilist .item.active{
  background-color: #09f;
  color: #fff;
}
.search_editor .neizhilist .item img{
  width: 20px;
  height: 20px;
  margin: 10px;
  float: left;
  border-radius: 50%;
}
.search_editor .neizhilist .item div{
  font-size: 14px;
  float: left;
  height: 40px;
  display: flex;
  align-items: center;
  width: calc(100% - 50px);
}
.search_editor .neizhilist .item div span{
  font-size: 12px;
  background-color: rgba(200,200,200,.6);
  border-radius: 4px;
  padding: 3px;
  color: #000;
  transform: scale(.8);
  transform-origin: center center;
}
.search_editor .searchlist .item{
  overflow: hidden;
  width: 100%;
  height: 30px;
}
.search_editor .searchlist .item>*{
  float: left;
}
.search_editor .searchlist .item .icon{
  width: 30px;
  height: 30px;
}
.search_editor .searchlist .item .icon img{
  width: 18px;
  height: 18px;
  margin: 6px;
}
.search_editor .searchlist .item .url{
  width: calc(100% - 60px);
  height: 30px;
}
.search_editor .searchlist .item .url input{
  border:0;outline: 0;
  height: 30px;
  width: 100%;
  color: #666;
  background-color: transparent;
}
.search_editor .searchlist .item .url input:focus{
  color: #000;
}
.search_editor .searchlist .item .remove{
  line-height: 30px;
  text-align: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.search_editor .searchlist .item .remove:hover{
  background-color: #eee;
}
.search_editor .searchlist .item .remove .material-symbols-outlined{
  font-size: 16px;
}

.search_editor .searchlist .addnewitem{
  width: 100%;
  height: 30px;
  color: #888;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background-color: #f4f4f4;
  border-radius: 4px;
}
.search_editor .searchlist .addnewitem .material-symbols-outlined{
  font-size: inherit;
}
.search_editor .searchlist .addnewitem:hover{
  background-color: #eee;
}
body.dark .search_editor .searchlist .addnewitem{
  background-color: #383838;
}
body.dark .search_editor .searchlist .addnewitem:hover{
  background-color: #222;
}
body.dark .search_editor .searchlist .item .url input{
  color: #aaa;
}
body.dark .search_editor .searchlist .item .url input:focus{
  color: #fff;
}
body.dark .search_editor .searchlist .item .remove:hover{
  background-color: #222;
}
body.dark .search_editor .neizhilist .item{
  background-color: #444;
}
body.dark .search_editor .neizhilist .item.active{
  background-color: #09f;
}