.d-c.setting_dia{
  width: 600px;
  height: 400px;
  padding: 0;
  overflow: hidden;
}

/* 
@note 适配新setting
@edit at 2024/1/30 15:13
*/
.setting-root{
  width: calc(100% - 40px);
  height: calc(100% - 70px);
  overflow-y: auto;
}
.setting-root{
  padding:10px 20px;
}
.setting-tree{
  padding-bottom: 10px;
  margin: 5px 0;
  margin-left: 10px;
}
.setting-group-title{
  font-size: 15px;
  font-weight: bold;
  color: #06f;
  padding: 10px 7px;
  padding-bottom: 7px;
}
.setting-item{
  width: 100%;
  height: 40px;
  margin: 5px 0;
  padding: 3px 5px;
  border-radius: 4px;
}
.setting-item .setting-item-left{
  float: left;
  height: 40px;
  width: 75%;
}
.setting-item-title{
  line-height: 24px;
  font-size: 16px;
  margin-top: 4px;
}
.setting-item-message{
  line-height: 12px;
  font-size: 12px;
  color: #888;
}
.setting-item.no-message .setting-item-title{
  line-height: 40px;
  margin-top: 0;
}
.setting-item.no-message .setting-item-message{
  display: none;
}
.setting-item .setting-item-right{
  float: right;
  height: 40px;
  position: relative;
  width: 25%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.setting-item .null-click .material-symbols-outlined{
  font-size: 16px;
}

.setting-item .setting-item-right .check-box{
  width: 40px;
  height: 10px;
  margin: 15px 5px;
  border-radius: 20px;
  background-color: #ddd;
  box-shadow: #ccc 0 0 3px;
  transition: all .3s;
  position: relative;
}
.setting-item .setting-item-right .check-box .check-box-inner{
  width: 20px;
  position: absolute;
  left: 0;
  top: -5px;
  height: 20px;
  border-radius: 20px;
  background-color: #aaa;
  box-shadow: #aaa 0 0 3px;
  transition: all .3s;
}
.setting-item .setting-item-right .check-box.checked .check-box-inner{
  background-color: #09f;
  left: 20px;
  box-shadow: #09f 0 0 3px;
}
.setting-item .setting-item-right .check-box input{
  display: none;
}
.setting-item.just-callback-item{
  transition: background .2s;
  cursor: pointer;
}
.setting-item.just-callback-item .setting-item-left{
  width: 90%;
}
.setting-item.just-callback-item .setting-item-right{
  width: 10%;
}
.setting-item.just-callback-item:hover{
  background-color: #f4f4f4;
}
.setting-item .qui-select{
  height: 30px;
  border-radius: 3px;
  line-height: 30px;
  margin: 5px 0;
  width: 100%;
  text-align: center;
  user-select: none;
  cursor: pointer;
  font-size: 13px;
  transition: all .15s;
  color: #333;
  border: #ddd solid 1px;
  background-color: #f7f7f7;
}
.setting-item .qui-select:hover{
  box-shadow: #ccc 0 1px 3px;
  background-color: #fafafa;
}
.setting-item .qui-select:active{
  box-shadow: #ccc 0 1px 1px;
  background-color: #ccc;
}
body.dark .setting-item .qui-select:hover{
  box-shadow: #666 0 1px 3px;
  background-color: #343434;
}
body.dark .setting-item .qui-select:active{
  box-shadow: #666 0 1px 1px;
  background-color: #666;
}
.setting-item .qui-options{
  position: absolute;
  top: 37px;
  right: 0;
  z-index: 2;
  background-color: #fff;
  border-radius: 3px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: opacity .15s;
  font-size: 13px;
  color: #333;
}
body.dark .setting-item .qui-select,
body.dark .setting-item .qui-options{
  background-color: #373737;
  color: #ddd;
}
body.dark .setting-item .qui-select{
  border-color: #666;
}
body.dark .setting-item .qui-options.active{
  box-shadow: #666 0 1px 3px;
}
.setting-item .qui-options.active{
  opacity: 1;
  pointer-events: all;
  box-shadow: #aaa 0 1px 3px;
}
.setting-item .qui-options .qui-option{
  line-height: 30px;
  height: 30px;
  text-align: center;
  width: calc(100% - 6px);
  margin: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.setting-item .qui-options .qui-option.selected{
  background-color: #eee;
}
.setting-item .qui-options .qui-option:hover{
  background-color: #f4f4f4;
}
body.dark .setting-item .qui-options .qui-option.selected{
  background-color: #444;
}
body.dark .setting-item .qui-options .qui-option:hover{
  background-color: #3a3a3a;
}
body.dark .setting-item.just-callback-item:hover{
  background-color: #444;
}
body.dark .setting-group-title{
  color: #0af;
}

@media (max-width:600px){
  .dialog.mobile-show-full .d-c.setting_dia{
    width: 100%;
    height: 100%;
  }
  .setting-tree{
    margin:0;
  }
}