.d-c.setting_dia{
  width: 600px;
  height: 400px;
  padding: 0;
  overflow: hidden;
}
@media (max-width:600px){
  .dialog.mobile-show-full .d-c.setting_dia{
    width: 100%;
    height: 100%;
  }
}

.d-c.setting_dia>ul{
  width: calc(100% - 40px);
  height: calc(100% - 60px);
  overflow-y: auto;
}
.d-c.setting_dia ul{
  margin:5px 15px;
  padding: 5px;
}
.d-c.setting_dia ul li.unit{
  padding: 10px 0;
}
.d-c.setting_dia ul li.unit>.title{
  font-size: 14px;
  font-weight: bold;
  color: #00f;
}
.d-c.setting_dia ul li.setting_item{
  width: 100%;
  overflow: hidden;
  height: 40px;
  margin: 5px 0;
}
.d-c.setting_dia ul li.setting_item .left-message{
  float: left;
  height: 40px;
}
.d-c.setting_dia ul li.setting_item .left-message .name{
  line-height: 24px;
  font-size: 16px;
  margin-top: 4px;
}
.d-c.setting_dia ul li.setting_item .left-message .message{
  line-height: 12px;
  font-size: 12px;
  color: #888;
}
.d-c.setting_dia ul li.setting_item .right_con{
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}