.toast{
  position: absolute;
  top:50px;
  left:50%;
  transform: translateX(-50%);
  padding: 10px;
  line-height: 20px;
  min-width: 200px;
  text-align: center;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  z-index:999;
  box-shadow: #aaa 0 1px 5px;
  border-radius: 40px;
  display: none;
  transition: top .3s;
  animation: toastin .3s;
}
.toast.show{
  display: block;
}
body.dark .toast{
  background-color: #333;
  box-shadow: #000 0 1px 5px;
  color: #fff;
}
@keyframes toastin {
  0%{
    top:-100px;
  }
  100%{
    top: 50px;
  }
}

@keyframes toastout {
  0%{
    top:50px;
  }
  100%{
    top: -100px;
  }
}
